.news_sect{
	margin: auto;
	/*padding: .5em;
	border: .1em solid #ccc;
*/}

.a_new{
	padding: .5em;
	margin: 0 auto .2em;
	border: .1em solid #ccc;
}
/*.new_body{
}*/
.new_body .new_title{
	color: #333;
	font-weight: bold;
	font-size: 1.3em;
}
.new_body .new_excerpt{
	color: #111;
}
.a_new button{
	margin-top: .2em;
	padding: .5em;
}
